<div class="container mt-5">
   <div class="justify-content-center">
      <h1>Datenschutzerklärung</h1>
      <h2>Einleitung</h2>
      Mit der folgenden Datenschutzerklärung möchten wir Sie darüber aufklären, welche Arten Ihrer personenbezogenen
      Daten (nachfolgend auch kurz als "Daten“ bezeichnet) wir zu welchen Zwecken und in welchem Umfang verarbeiten. Die
      Datenschutzerklärung gilt für alle von uns durchgeführten Verarbeitungen personenbezogener Daten, sowohl im Rahmen
      der Erbringung unserer Leistungen als auch insbesondere auf unseren Webseiten, in mobilen Applikationen sowie
      innerhalb externer Onlinepräsenzen, wie z.B. unserer Social-Media-Profile (nachfolgend zusammenfassend bezeichnet
      als "Onlineangebot“). Die verwendeten Begriffe sind nicht geschlechtsspezifisch. Stand: 3. Juli 2020
      <h2>Inhaltsübersicht</h2>
      <ul>
         <li>Einleitung</li>
         <li>Verantwortlicher</li>
         <li>Übersicht der Verarbeitungen</li>
         <li>Maßgebliche Rechtsgrundlagen</li>
         <li>Sicherheitsmaßnahmen</li>
         <li>Übermittlung und Offenbarung von personenbezogenen Daten</li>
         <li>Datenverarbeitung in Drittländern</li>
         <li>Einsatz von Cookies</li>
         <li>Bereitstellung des Onlineangebotes und Webhosting</li>
         <li>Kontaktaufnahme</li>
         <li>Begriffsdefinitionen</li>
      </ul>
      <h2>Verantwortlicher</h2>
      <p>
         Son Hai Vu,<br />
         Stuttgarter Str. 134<br />
         73312 Geislingen<br />
         E-Mail-Adresse: sv048@hdm-stuttgart.de
      </p>

      <h2>Übersicht der Verarbeitungen</h2>
      <p>
         Die nachfolgende Übersicht fasst die Arten der verarbeiteten Daten und die Zwecke ihrer Verarbeitung zusammen
         und verweist auf die betroffenen Personen.
      </p>

      <h3>Arten der verarbeiteten Daten</h3>
      <ul>
         <li>Bestandsdaten (z.B. Namen, Adressen).</li>
         <li>Inhaltsdaten (z.B. Texteingaben, Fotografien, Videos).</li>
         <li>Kontaktdaten (z.B. E-Mail, Telefonnummern).</li>
         <li>Meta-/Kommunikationsdaten (z.B. Geräte-Informationen, IP-Adressen).</li>
         <li>Nutzungsdaten (z.B. besuchte Webseiten, Interesse an Inhalten, Zugriffszeiten).</li>
      </ul>

      <h3>Kategorien betroffener Personen</h3>
      <ul>
         <li>Kommunikationspartner.</li>
         <li>Nutzer (z.B. Webseitenbesucher, Nutzer von Onlinediensten).</li>
      </ul>
      <h3>Zwecke der Verarbeitung</h3>
      <ul>
         <li>Kontaktanfragen und Kommunikation.</li>
      </ul>
      <h3>Maßgebliche Rechtsgrundlagen</h3>
      <p>
         Im Folgenden teilen wir die Rechtsgrundlagen der Datenschutzgrundverordnung (DSGVO), auf deren Basis wir die
         personenbezogenen Daten verarbeiten, mit. Bitte beachten Sie, dass zusätzlich zu den Regelungen der DSGVO die
         nationalen Datenschutzvorgaben in Ihrem bzw. unserem Wohn- und Sitzland gelten können. Sollten ferner im
         Einzelfall speziellere Rechtsgrundlagen maßgeblich sein, teilen wir Ihnen diese in der Datenschutzerklärung
         mit.
      </p>
      <ul>
         <li>
            Einwilligung (Art. 6 Abs. 1 S. 1 lit. a DSGVO) - Die betroffene Person hat ihre Einwilligung in die
            Verarbeitung der sie betreffenden personenbezogenen Daten für einen spezifischen Zweck oder mehrere
            bestimmte Zwecke gegeben.
         </li>
         <li>
            Vertragserfüllung und vorvertragliche Anfragen (Art. 6 Abs. 1 S. 1 lit. b. DSGVO) - Die Verarbeitung ist für
            die Erfüllung eines Vertrags, dessen Vertragspartei die betroffene Person ist, oder zur Durchführung
            vorvertraglicher Maßnahmen erforderlich, die auf Anfrage der betroffenen Person erfolgen.
         </li>
         <li>
            Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f. DSGVO) - Die Verarbeitung ist zur Wahrung der
            berechtigten Interessen des Verantwortlichen oder eines Dritten erforderlich, sofern nicht die Interessen
            oder Grundrechte und Grundfreiheiten der betroffenen Person, die den Schutz personenbezogener Daten
            erfordern, überwiegen.
         </li>
      </ul>
      <h3>Nationale Datenschutzregelungen in Deutschland:</h3>
      <p>
         Zusätzlich zu den Datenschutzregelungen der Datenschutz-Grundverordnung gelten nationale Regelungen zum
         Datenschutz in Deutschland. Hierzu gehört insbesondere das Gesetz zum Schutz vor Missbrauch personenbezogener
         Daten bei der Datenverarbeitung (Bundesdatenschutzgesetz – BDSG). Das BDSG enthält insbesondere
         Spezialregelungen zum Recht auf Auskunft, zum Recht auf Löschung, zum Widerspruchsrecht, zur Verarbeitung
         besonderer Kategorien personenbezogener Daten, zur Verarbeitung für andere Zwecke und zur Übermittlung sowie
         automatisierten Entscheidungsfindung im Einzelfall einschließlich Profiling. Des Weiteren regelt es die
         Datenverarbeitung für Zwecke des Beschäftigungsverhältnisses (§ 26 BDSG), insbesondere im Hinblick auf die
         Begründung, Durchführung oder Beendigung von Beschäftigungsverhältnissen sowie die Einwilligung von
         Beschäftigten. Ferner können Landesdatenschutzgesetze der einzelnen Bundesländer zur Anwendung gelangen.
      </p>

      <h2>Sicherheitsmaßnahmen</h2>
      <p>
         Wir treffen nach Maßgabe der gesetzlichen Vorgaben unter Berücksichtigung des Stands der Technik, der
         Implementierungskosten und der Art, des Umfangs, der Umstände und der Zwecke der Verarbeitung sowie der
         unterschiedlichen Eintrittswahrscheinlichkeiten und des Ausmaßes der Bedrohung der Rechte und Freiheiten
         natürlicher Personen geeignete technische und organisatorische Maßnahmen, um ein dem Risiko angemessenes
         Schutzniveau zu gewährleisten. Zu den Maßnahmen gehören insbesondere die Sicherung der Vertraulichkeit,
         Integrität und Verfügbarkeit von Daten durch Kontrolle des physischen und elektronischen Zugangs zu den Daten
         als auch des sie betreffenden Zugriffs, der Eingabe, der Weitergabe, der Sicherung der Verfügbarkeit und ihrer
         Trennung. Des Weiteren haben wir Verfahren eingerichtet, die eine Wahrnehmung von Betroffenenrechten, die
         Löschung von Daten und Reaktionen auf die Gefährdung der Daten gewährleisten. Ferner berücksichtigen wir den
         Schutz personenbezogener Daten bereits bei der Entwicklung bzw. Auswahl von Hardware, Software sowie Verfahren
         entsprechend dem Prinzip des Datenschutzes, durch Technikgestaltung und durch datenschutzfreundliche
         Voreinstellungen.
      </p>
      <h2>Übermittlung und Offenbarung von personenbezogenen Daten</h2>
      <p>
         Im Rahmen unserer Verarbeitung von personenbezogenen Daten kommt es vor, dass die Daten an andere Stellen,
         Unternehmen, rechtlich selbstständige Organisationseinheiten oder Personen übermittelt oder sie ihnen gegenüber
         offengelegt werden. Zu den Empfängern dieser Daten können z.B. Zahlungsinstitute im Rahmen von
         Zahlungsvorgängen, mit IT-Aufgaben beauftragte Dienstleister oder Anbieter von Diensten und Inhalten, die in
         eine Webseite eingebunden werden, gehören. In solchen Fall beachten wir die gesetzlichen Vorgaben und schließen
         insbesondere entsprechende Verträge bzw. Vereinbarungen, die dem Schutz Ihrer Daten dienen, mit den Empfängern
         Ihrer Daten ab.
      </p>
      <h3>Datenverarbeitung in Drittländern</h3>
      <p>
         Sofern wir Daten in einem Drittland (d.h., außerhalb der Europäischen Union (EU), des Europäischen
         Wirtschaftsraums (EWR)) verarbeiten oder die Verarbeitung im Rahmen der Inanspruchnahme von Diensten Dritter
         oder der Offenlegung bzw. Übermittlung von Daten an andere Personen, Stellen oder Unternehmen stattfindet,
         erfolgt dies nur im Einklang mit den gesetzlichen Vorgaben. Vorbehaltlich ausdrücklicher Einwilligung oder
         vertraglich oder gesetzlich erforderlicher Übermittlung verarbeiten oder lassen wir die Daten nur in
         Drittländern mit einem anerkannten Datenschutzniveau, zu denen die unter dem "Privacy-Shield" zertifizierten
         US-Verarbeiter gehören, oder auf Grundlage besonderer Garantien, wie z.B. vertraglicher Verpflichtung durch
         sogenannte Standardschutzklauseln der EU-Kommission, des Vorliegens von Zertifizierungen oder verbindlicher
         interner Datenschutzvorschriften, verarbeiten (Art. 44 bis 49 DSGVO, Informationsseite der EU-Kommission:
         https://ec.europa.eu/info/law/law-topic/data-protection/international-dimension-data-protection_de ).
      </p>
      <h3>Einsatz von Cookies</h3>
      <p>
         Cookies sind Textdateien, die Daten von besuchten Websites oder Domains enthalten und von einem Browser auf dem
         Computer des Benutzers gespeichert werden. Ein Cookie dient in erster Linie dazu, die Informationen über einen
         Benutzer während oder nach seinem Besuch innerhalb eines Onlineangebotes zu speichern. Zu den gespeicherten
         Angaben können z.B. die Spracheinstellungen auf einer Webseite, der Loginstatus, ein Warenkorb oder die Stelle,
         an der ein Video geschaut wurde, gehören. Zu dem Begriff der Cookies zählen wir ferner andere Technologien, die
         die gleichen Funktionen wie Cookies erfüllen (z.B., wenn Angaben der Nutzer anhand pseudonymer
         Onlinekennzeichnungen gespeichert werden, auch als "Nutzer-IDs" bezeichnet) Die folgenden Cookie-Typen und
         Funktionen werden unterschieden:
      </p>
      <ul>
         <li>
            Temporäre Cookies (auch: Session- oder Sitzungs-Cookies): Temporäre Cookies werden spätestens gelöscht,
            nachdem ein Nutzer ein Online-Angebot verlassen und seinen Browser geschlossen hat.
         </li>
         <li>
            Permanente Cookies: Permanente Cookies bleiben auch nach dem Schließen des Browsers gespeichert. So kann
            beispielsweise der Login-Status gespeichert oder bevorzugte Inhalte direkt angezeigt werden, wenn der Nutzer
            eine Website erneut besucht. Ebenso können die Interessen von Nutzern, die zur Reichweitenmessung oder zu
            Marketingzwecken verwendet werden, in einem solchen Cookie gespeichert werden.
         </li>
         <li>First-Party-Cookies: First-Party-Cookies werden von uns selbst gesetzt.</li>
         <li>
            Third-Party-Cookies (auch: Drittanbieter-Cookies): Drittanbieter-Cookies werden hauptsächlich von
            Werbetreibenden (sog. Dritten) verwendet, um Benutzerinformationen zu verarbeiten.
         </li>
         <li>
            Notwendige (auch: essentielle oder unbedingt erforderliche) Cookies: Cookies können zum einen für den
            Betrieb einer Webseite unbedingt erforderlich sein (z.B. um Logins oder andere Nutzereingaben zu speichern
            oder aus Gründen der Sicherheit).
         </li>
         <li>
            Statistik-, Marketing- und Personalisierungs-Cookies: Ferner werden Cookies im Regelfall auch im Rahmen der
            Reichweitenmessung eingesetzt sowie dann, wenn die Interessen eines Nutzers oder sein Verhalten (z.B.
            Betrachten bestimmter Inhalte, Nutzen von Funktionen etc.) auf einzelnen Webseiten in einem Nutzerprofil
            gespeichert werden. Solche Profile dienen dazu, den Nutzern z.B. Inhalte anzuzeigen, die ihren potentiellen
            Interessen entsprechen. Dieses Verfahren wird auch als "Tracking", d.h., Nachverfolgung der potentiellen
            Interessen der Nutzer bezeichnet. . Soweit wir Cookies oder "Tracking"-Technologien einsetzen, informieren
            wir Sie gesondert in unserer Datenschutzerklärung oder im Rahmen der Einholung einer Einwilligung.
         </li>
      </ul>
      <h3>Hinweise zu Rechtsgrundlagen:</h3>
      <p>
         Auf welcher Rechtsgrundlage wir Ihre personenbezogenen Daten mit Hilfe von Cookies verarbeiten, hängt davon ab,
         ob wir Sie um eine Einwilligung bitten. Falls dies zutrifft und Sie in die Nutzung von Cookies einwilligen, ist
         die Rechtsgrundlage der Verarbeitung Ihrer Daten die erklärte Einwilligung. Andernfalls werden die mithilfe von
         Cookies verarbeiteten Daten auf Grundlage unserer berechtigten Interessen (z.B. an einem
         betriebswirtschaftlichen Betrieb unseres Onlineangebotes und dessen Verbesserung) verarbeitet oder, wenn der
         Einsatz von Cookies erforderlich ist, um unsere vertraglichen Verpflichtungen zu erfüllen.
      </p>
      <h3>Speicherdauer:</h3>
      <p>
         Sofern wir Ihnen keine expliziten Angaben zur Speicherdauer von permanenten Cookies mitteilen (z. B. im Rahmen
         eines sog. Cookie-Opt-Ins), gehen Sie bitte davon aus, dass die Speicherdauer bis zu zwei Jahre betragen kann.
      </p>
      <h3>Allgemeine Hinweise zum Widerruf und Widerspruch (Opt-Out):</h3>
      <p>
         Abhängig davon, ob die Verarbeitung auf Grundlage einer Einwilligung oder gesetzlichen Erlaubnis erfolgt, haben
         Sie jederzeit die Möglichkeit, eine erteilte Einwilligung zu widerrufen oder der Verarbeitung Ihrer Daten durch
         Cookie-Technologien zu widersprechen (zusammenfassend als "Opt-Out" bezeichnet). Sie können Ihren Widerspruch
         zunächst mittels der Einstellungen Ihres Browsers erklären, z.B., indem Sie die Nutzung von Cookies
         deaktivieren (wobei hierdurch auch die Funktionsfähigkeit unseres Onlineangebotes eingeschränkt werden kann).
         Ein Widerspruch gegen den Einsatz von Cookies zu Zwecken des Onlinemarketings kann auch mittels einer Vielzahl
         von Diensten, vor allem im Fall des Trackings, über die Webseiten https://optout.aboutads.info und
         https://www.youronlinechoices.com/ erklärt werden. Daneben können Sie weitere Widerspruchshinweise im Rahmen
         der Angaben zu den eingesetzten Dienstleistern und Cookies erhalten.
      </p>
      <h3>Verarbeitung von Cookie-Daten auf Grundlage einer Einwilligung:</h3>
      <p>
         Bevor wir Daten im Rahmen der Nutzung von Cookies verarbeiten oder verarbeiten lassen, bitten wir die Nutzer um
         eine jederzeit widerrufbare Einwilligung. Bevor die Einwilligung nicht ausgesprochen wurde, werden allenfalls
         Cookies eingesetzt, die für den Betrieb unseres Onlineangebotes unbedingt erforderlich sind.
      </p>
      <ul>
         <li>
            Verarbeitete Datenarten: Nutzungsdaten (z.B. besuchte Webseiten, Interesse an Inhalten, Zugriffszeiten),
            Meta-/Kommunikationsdaten (z.B. Geräte-Informationen, IP-Adressen).
         </li>
         <li>Betroffene Personen: Nutzer (z.B. Webseitenbesucher, Nutzer von Onlinediensten).</li>
         <li>
            Rechtsgrundlagen: Einwilligung (Art. 6 Abs. 1 S. 1 lit. a DSGVO), Berechtigte Interessen (Art. 6 Abs. 1 S. 1
            lit. f. DSGVO).
         </li>
      </ul>

      <h2>Bereitstellung des Onlineangebotes und Webhosting</h2>
      <p>
         Um unser Onlineangebot sicher und effizient bereitstellen zu können, nehmen wir die Leistungen von einem oder
         mehreren Webhosting-Anbietern in Anspruch, von deren Servern (bzw. von ihnen verwalteten Servern) das
         Onlineangebot abgerufen werden kann. Zu diesen Zwecken können wir Infrastruktur- und Plattformdienstleistungen,
         Rechenkapazität, Speicherplatz und Datenbankdienste sowie Sicherheitsleistungen und technische
         Wartungsleistungen in Anspruch nehmen. Zu den im Rahmen der Bereitstellung des Hostingangebotes verarbeiteten
         Daten können alle die Nutzer unseres Onlineangebotes betreffenden Angaben gehören, die im Rahmen der Nutzung
         und der Kommunikation anfallen. Hierzu gehören regelmäßig die IP-Adresse, die notwendig ist, um die Inhalte von
         Onlineangeboten an Browser ausliefern zu können, und alle innerhalb unseres Onlineangebotes oder von Webseiten
         getätigten Eingaben. Erhebung von Zugriffsdaten und Logfiles: Wir selbst (bzw. unser Webhostinganbieter)
         erheben Daten zu jedem Zugriff auf den Server (sogenannte Serverlogfiles). Zu den Serverlogfiles können die
         Adresse und Name der abgerufenen Webseiten und Dateien, Datum und Uhrzeit des Abrufs, übertragene Datenmengen,
         Meldung über erfolgreichen Abruf, Browsertyp nebst Version, das Betriebssystem des Nutzers, Referrer URL (die
         zuvor besuchte Seite) und im Regelfall IP-Adressen und der anfragende Provider gehören. Die Serverlogfiles
         können zum einen zu Zwecken der Sicherheit eingesetzt werden, z.B., um eine Überlastung der Server zu vermeiden
         (insbesondere im Fall von missbräuchlichen Angriffen, sogenannten DDoS-Attacken) und zum anderen, um die
         Auslastung der Server und ihre Stabilität sicherzustellen.
      </p>

      <ul>
         <li>
            Verarbeitete Datenarten: Inhaltsdaten (z.B. Texteingaben, Fotografien, Videos), Nutzungsdaten (z.B. besuchte
            Webseiten, Interesse an Inhalten, Zugriffszeiten), Meta-/Kommunikationsdaten (z.B. Geräte-Informationen,
            IP-Adressen).
         </li>
         <li>Betroffene Personen: Nutzer (z.B. Webseitenbesucher, Nutzer von Onlinediensten).</li>
         <li>Rechtsgrundlagen: Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f. DSGVO).</li>
      </ul>

      <h3>Kontaktaufnahme</h3>
      <p>
         Bei der Kontaktaufnahme mit uns (z.B. per Kontaktformular, E-Mail, Telefon oder via soziale Medien) werden die
         Angaben der anfragenden Personen verarbeitet, soweit dies zur Beantwortung der Kontaktanfragen und etwaiger
         angefragter Maßnahmen erforderlich ist. Die Beantwortung der Kontaktanfragen im Rahmen von vertraglichen oder
         vorvertraglichen Beziehungen erfolgt zur Erfüllung unserer vertraglichen Pflichten oder zur Beantwortung von
         (vor)vertraglichen Anfragen und im Übrigen auf Grundlage der berechtigten Interessen an der Beantwortung der
         Anfragen.
      </p>

      <ul>
         <li>Betroffene Personen: Kommunikationspartner.</li>
         <li>Zwecke der Verarbeitung: Kontaktanfragen und Kommunikation.</li>
         <li>
            Rechtsgrundlagen: Vertragserfüllung und vorvertragliche Anfragen (Art. 6 Abs. 1 S. 1 lit. b. DSGVO),
            Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f. DSGVO).
         </li>
         <li>
            Verarbeitete Datenarten: Bestandsdaten (z.B. Namen, Adressen), Kontaktdaten (z.B. E-Mail, Telefonnummern),
            Inhaltsdaten (z.B. Texteingaben, Fotografien, Videos).
         </li>
      </ul>

      <h2>Begriffsdefinitionen</h2>
      <p>
         In diesem Abschnitt erhalten Sie eine Übersicht über die in dieser Datenschutzerklärung verwendeten
         Begrifflichkeiten. Viele der Begriffe sind dem Gesetz entnommen und vor allem im Art. 4 DSGVO definiert. Die
         gesetzlichen Definitionen sind verbindlich. Die nachfolgenden Erläuterungen sollen dagegen vor allem dem
         Verständnis dienen. Die Begriffe sind alphabetisch sortiert.
      </p>
      <ul>
         <li>
            Personenbezogene Daten: "Personenbezogene Daten“ sind alle Informationen, die sich auf eine identifizierte
            oder identifizierbare natürliche Person (im Folgenden "betroffene Person“) beziehen; als identifizierbar
            wird eine natürliche Person angesehen, die direkt oder indirekt, insbesondere mittels Zuordnung zu einer
            Kennung wie einem Namen, zu einer Kennnummer, zu Standortdaten, zu einer Online-Kennung (z.B. Cookie) oder
            zu einem oder mehreren besonderen Merkmalen identifiziert werden kann, die Ausdruck der physischen,
            physiologischen, genetischen, psychischen, wirtschaftlichen, kulturellen oder sozialen Identität dieser
            natürlichen Person sind.
         </li>
         <li>
            Verantwortlicher: Als "Verantwortlicher“ wird die natürliche oder juristische Person, Behörde, Einrichtung
            oder andere Stelle, die allein oder gemeinsam mit anderen über die Zwecke und Mittel der Verarbeitung von
            personenbezogenen Daten entscheidet, bezeichnet.
         </li>
         <li>
            Verarbeitung: "Verarbeitung" ist jeder mit oder ohne Hilfe automatisierter Verfahren ausgeführte Vorgang
            oder jede solche Vorgangsreihe im Zusammenhang mit personenbezogenen Daten. Der Begriff reicht weit und
            umfasst praktisch jeden Umgang mit Daten, sei es das Erheben, das Auswerten, das Speichern, das Übermitteln
            oder das Löschen.
         </li>
      </ul>
   </div>
</div>
