<div class="container">
   <div *ngIf="!newPasswordIsSet">
      <mat-card>
         <mat-card-header>
            <mat-card-title>
               <h1 class="text-center mb-4">{{ 'NEW_PASSWORD_TITLE' | translate | uppercase }}!</h1>
            </mat-card-title>
         </mat-card-header>
         <div class="row justify-content-center my-4">
            <mat-spinner *ngIf="isLoading"></mat-spinner>
            <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" *ngIf="!isLoading">
               <mat-form-field class="d-block password-field">
                  <input
                     type="password"
                     formControlName="password"
                     placeholder="{{ 'SIGN_IN.CREATE_PASSWORD' | translate }}"
                     id="password"
                     matInput
                  />
                  <mat-hint>
                     {{ 'SIGN_IN.PASSWORD_REQUIREMENTS.TITLE' | translate }}:
                     <ul>
                        <li>{{ 'SIGN_IN.PASSWORD_REQUIREMENTS.CHARACTERS' | translate }}</li>
                        <li>{{ 'SIGN_IN.PASSWORD_REQUIREMENTS.UPPERCASE' | translate }}</li>
                        <li>{{ 'SIGN_IN.PASSWORD_REQUIREMENTS.LOWERCASE' | translate }}</li>
                        <li>{{ 'SIGN_IN.PASSWORD_REQUIREMENTS.NUMBERS' | translate }}</li>
                     </ul>
                  </mat-hint>
               </mat-form-field>

               <mat-form-field class="d-block">
                  <input
                     type="password"
                     formControlName="confirmPassword"
                     placeholder="{{ 'SIGN_IN.CONFIRM_PASSWORD' | translate }}"
                     id="confirmPassword"
                     matInput
                  />
               </mat-form-field>

               <mat-dialog-actions>
                  <button
                     class="submit-btn mt-4"
                     type="submit"
                     mat-raised-button
                     color="accent"
                     [disabled]="!resetPasswordForm.valid"
                  >
                     {{ 'CONFIRM' | translate }}
                  </button>
               </mat-dialog-actions>

               <div *ngIf="isInvalid" class="alert alert-danger mt-4" role="alert">
                  {{ message }}
               </div>
            </form>
         </div>
      </mat-card>
   </div>

   <div *ngIf="newPasswordIsSet">
      <h1 class="text-center">{{ 'NEW_PASSWORD_SUCCESS' | translate | uppercase }}!</h1>
      <div class="row justify-content-center mt-4">
         <button mat-raised-button color="accent" [routerLink]="'/'">
            {{ 'BACK_TO_HOME' | translate }} <mat-icon>home</mat-icon>
         </button>
      </div>
   </div>
</div>
