.container {
   min-height: 700px;
}

h1 {
   font-size: 1.5em;
   padding-top: 75px;
}

mat-card {
   max-width: 500px;
   margin-left: auto;
   margin-right: auto;
   margin-top: 50px;
}

form {
   width: 100%;
   padding-left: 50px;
   padding-right: 50px;
}

.mat-raised-button {
   border-radius: 30px;
}

.submit-btn {
   width: 100%;
}

.password-field {
   margin-bottom: 70px;
}

/* Responsive */
@media only screen and (max-width: 760px) {
   h1 {
      line-height: 1;
   }
}
