<div class="container">
   <div class="head-stripe">
      <h1>{{ 'MY' | translate | uppercase }} {{ 'TOURS' | translate | uppercase }}</h1>
   </div>
   <div *ngIf="isLoading" class="row justify-content-center">
      <mat-spinner *ngIf="isLoading"></mat-spinner>
   </div>
   <div *ngIf="!isLoading">
      <div class="input-group input-group-lg mb-4 mt-4">
         <input
            #searchBar
            type="text"
            [(ngModel)]="searchTerm"
            name="search"
            class="form-control"
            placeholder="{{ 'SEARCH.SEARCH' | translate }}"
         />
         <button
            mat-mini-fab
            matTooltip="Filter your tours by..."
            matTooltipPosition="right"
            [matMenuTriggerFor]="menu"
         >
            <mat-icon>filter_list</mat-icon>
         </button>
         <mat-menu #menu="matMenu">
            <button (click)="sortBy('creationDate')" mat-menu-item>{{ 'SORT.CREATION_DATE' | translate }}</button>
            <button (click)="sortBy('startDate')" mat-menu-item>{{ 'SORT.START_DATE' | translate }}</button>
            <button (click)="sortBy('alphabetical_az')" mat-menu-item>{{ 'SORT.AZ' | translate }}</button>
            <button (click)="sortBy('alphabetical_za')" mat-menu-item>{{ 'SORT.ZA' | translate }}</button>
         </mat-menu>
      </div>

      <div *ngIf="myTours.length === 0">
         <h2 class="text-center">{{ 'TOUR_DASHBOARD.NO_TOURS_TITLE' | translate }}</h2>
         <h3 class="text-center">{{ 'TOUR_DASHBOARD.NO_TOURS_SUBTITLE' | translate }}</h3>
         <div class="row justify-content-center">
            <button type="button" mat-raised-button color="primary" [routerLink]="['/tour-creation']">
               {{ 'TOUR_DASHBOARD.CREATE_TOUR' | translate }} <mat-icon>add_circle</mat-icon>
            </button>
         </div>
      </div>

      <mat-card
         [ngClass]="onDelBtn ? 'inactive-card' : 'active-card'"
         *ngFor="let tour of myTours | search : searchTerm"
         (click)="goToTourOverview(tour._id)"
         id="tour-card"
         style="min-height: fit-content"
      >
         <div class="row align-items-center content-div">
            <div class="col-md-2">
               <div class="row img-wrapper d-flex justify-content-center">
                  <div *ngFor="let sight of tour.sights.slice(0, 2)">
                     <div
                        *ngIf="sight.imagePath"
                        class="col img-xmpl"
                        style="background-image: url('{{ sight.imagePath }}');"
                     ></div>
                     <div
                        *ngIf="!sight.imagePath && sight.titleImage?.imageURL"
                        class="col img-xmpl"
                        style="background-image: url('{{ getPictureOfSight(sight.titleImage?.imageURL) }}');"
                     ></div>
                  </div>
                  <div class="w-100"></div>
                  <div *ngFor="let sight of tour.sights.slice(2, 4)">
                     <div
                        *ngIf="sight.imagePath"
                        class="col img-xmpl"
                        style="background-image: url('{{ sight.imagePath }}');"
                     ></div>
                     <div
                        *ngIf="!sight.imagePath && sight.titleImage?.imageURL"
                        class="col img-xmpl"
                        style="background-image: url('{{ getPictureOfSight(sight.titleImage?.imageURL) }}');"
                     ></div>
                  </div>
               </div>
            </div>
            <div class="col-md-9">
               <span style="font-style: italic"
                  >{{ tour.sights.length }} stops - {{ tour.startDate | date : 'dd/MM/yyyy' }}-{{
                     tour.endDate | date : 'dd/MM/yyyy'
                  }}</span
               >
               <h2>{{ tour.name }}</h2>
               <div>{{ tour.description | limitTo : '300' }}</div>
            </div>
            <div class="col-md-1">
               <button
                  (click)="deleteDialog(tour._id, tour.name); $event.stopPropagation()"
                  (mouseover)="onDelBtn = true"
                  (mouseout)="onDelBtn = false"
                  mat-menu-item
                  class="del-btn"
               >
                  <mat-icon id="del-icon">delete_outline</mat-icon>
               </button>
            </div>
         </div>
      </mat-card>
   </div>
</div>
