h2 {
   font-size: 2em;
}

div.container {
   min-height: 100vh;
}

.img-xmpl {
   width: 50px;
   height: 50px;
   max-width: 50px;
   max-height: 50px;
   background-size: cover;
   background-position: center;
}

#tour-card {
   border-radius: 30px;
   margin-bottom: 10px !important;
}

.active-card:hover {
   background-color: rgba(0, 0, 0, 0.1);
   transition: background-color 300ms linear;
   cursor: pointer;
}

.inactive-card {
   background-color: transparent;
}

.unlikeBtn {
   height: fit-content;
   width: fit-content;
   max-height: fit-content;
   max-width: fit-content;
   border-radius: 30px;
   background-color: transparent !important;
}

.unlikeBtn:hover {
   background-color: rgba(201, 29, 29, 0.733) !important;
   transition: background-color 300ms linear !important;
}

.unlikeBtn:hover > #like-icon {
   color: white;
}

#like-icon {
   margin: 0px !important;
   color: crimson;
}

h1 {
   font-size: 3em;
   margin-bottom: 75px;
   padding: 10px;
   color: white;
   margin-top: 75px;
   white-space: nowrap;
}

.head-stripe {
   width: 100%;
   border-radius: 30px;
   background-color: #3f51b5;
   padding-left: 10px;
   min-width: fit-content;
}

.content-div {
   margin-left: 10px;
   margin-right: 10px;
}

.container {
   height: 100%;
}

.mat-mini-fab {
   position: absolute;
   right: 5px;
   top: 4px;
   z-index: 999;
   box-shadow: none !important;
}

input:focus {
   box-shadow: none;
   outline: none;
}

/* Responsive */
@media only screen and (max-width: 760px) {
   h1 {
      font-size: 22px;
   }
}
