<section id="team" class="d-relative team-bg py-4">
   <div class="container">
      <div class="row justify-content-center mb-5">
         <div class="col-md-8 text-center">
            <h1 class="mb-4 mt-4">The team behind TraveLinked</h1>
         </div>
      </div>
      <div class="row justify-content-between">
         <div class="col-md text-center mx-5 mr-md-0 mr-lg-3 mb-5 mb-md-auto">
            <img class="img-fluid mb-4 rounded-circle" src="../../../assets/images/hai.jpg" alt="Hai" />
            <h2 class="mb3">Hai Vu</h2>
            <p class="px-4">Lead Developer</p>
         </div>
         <div class="col-md text-center mx-5 mx-md-0 mx-lg-3 mb-5 mb-md-auto">
            <img class="img-fluid mb-4 rounded-circle" src="../../../assets/images/leon.jpg" alt="Leon" />
            <h2 class="mb3">Leon Heinrich</h2>
            <p class="px-4">UX / UI Engineer</p>
         </div>
         <div class="col-md text-center mx-5 ml-md-0 ml-lg-3">
            <img class="img-fluid mb-4 rounded-circle" src="../../../assets/images/manu.jpg" alt="Manu" />
            <h2 class="mb3">Manuel Heim</h2>
            <p class="px-4">Fullstack Developer</p>
         </div>
      </div>
      <div class="row justify-content-between mt-5">
         <div class="col-md text-center mx-5 mr-md-0 mr-lg-3 mb-5 mb-md-auto">
            <img class="img-fluid mb-4 rounded-circle" src="../../../assets/images/silas.jpg" alt="Silas" />
            <h2 class="mb3">Silas Blumenstock</h2>
            <p class="px-4">Fullstack Developer</p>
         </div>
         <div class="col-md text-center mx-5 mr-md-0 mr-lg-3 mb-5 mb-md-auto">
            <img class="img-fluid mb-4 rounded-circle" src="../../../assets/images/sebastian.jpg" alt="Sebastian" />
            <h2 class="mb3">Sebastian Dubiel</h2>
            <p class="px-4">QA Tester</p>
         </div>
      </div>
   </div>
</section>
