<section id="contact">
   <div class="container">
      <button class="close" mat-dialog-close><mat-icon class="btn-icon">close</mat-icon></button>
      <div class="row mb-5">
         <div class="col-md-12 text-center">
            <h1>{{ 'CONTACT.CONTACT_US' | translate }}</h1>
         </div>
      </div>

      <div class="row justify-content-center" *ngIf="isSend">
         <div class="col">
            <h2 class="text-center">{{ 'CONTACT.CONFIRM_TITLE' | translate }}</h2>
            <h2 class="text-center">{{ 'CONTACT.CONFIRM_SUBTITLE' | translate }}</h2>
         </div>
      </div>

      <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" *ngIf="!isSend">
         <div class="row">
            <div class="col-md-12 pl-md-5 pr-md-4">
               <div class="input-group input-group-lg mb-4">
                  <div class="input-group-prepend">
                     <span class="input-group-text icon-span text-white"><mat-icon>account_circle</mat-icon></span>
                  </div>
                  <input
                     type="text"
                     name="name"
                     class="form-control input-field"
                     placeholder="{{ 'CONTACT.YOUR_NAME' | translate }}"
                     id="name"
                     formControlName="name"
                  />
               </div>
               <div class="input-group input-group-lg mb-4">
                  <div class="input-group-prepend">
                     <span class="input-group-text icon-span text-white"><mat-icon>contact_mail</mat-icon></span>
                  </div>
                  <input
                     type="email"
                     name="email"
                     class="form-control input-field"
                     placeholder="{{ 'CONTACT.YOUR_MAIL' | translate }}"
                     id="email"
                     formControlName="email"
                  />
               </div>
               <div class="input-group input-group-lg mb-4">
                  <textarea
                     name="message"
                     id="message"
                     rows="6"
                     class="form-control"
                     placeholder="{{ 'CONTACT.YOUR_MESSAGE' | translate }}"
                     formControlName="message"
                  ></textarea>
               </div>
               <!-- btn-block = ganze Breite -->
               <button
                  id="submit-btn"
                  class="btn submit-button btn-lg btn-block btn-round"
                  type="submit"
                  [disabled]="!contactForm.valid"
               >
                  {{ 'SEND' | translate }}
               </button>
            </div>
         </div>
      </form>
   </div>
</section>
